 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    height: 200px;
    width: 200px;
    background-color: skyblue;
}

.container{
    background-color: black;
    height:600px ;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.door{
    background-color: brown;
    height:100%;
    width: 100%;
    transform-origin: bottom;
    animation: openclose 1s ease-in 1s infinite alternate;
}

/*.door:hover{
    transform: perspective(200px) rotateY(60deg);
    transition: transform 1s linear;
}*/

@keyframes openclose {
    0%{
        transform: perspective(400px) rotateY(0deg);
    }
    70%{
        transform: perspective(400px) rotateY(90deg);
    }
    100%{
        transform: perspective(400px) rotateY(90deg);
    }
    
}

.bubble{
    height: 20px;
    width: 20px;
    background-color: rgb(19, 216, 108);
    border-radius: 50%;
    position: relative;
    animation: up 3s ease-out infinite;
}

@keyframes up{
    0%{
        transform: scale(1);
        bottom: 0px;
    }
    20%{
        left: -100px;
    }
    40%{
        left: 100px;
    }
    60%{
        left: -100px;
    }
    80%{
        transform: scale(8);
        bottom: 280px;
        background-color: rgba(240,248,255,0.3);
        box-shadow: 0px 0px 5px rgba(240,248,255,0.1);
    }
    100%{
        transform: scale(8.2);
        bottom: 300px;
        background-color: rgba(240,248,255,0.2);
        box-shadow:  0px 0px 5px rgba(240,248,255,0.15);
        left: 0px;
    }
}
