*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
     width: 100%;
}



.container {
    padding: 30px;
    background-color: lightblue;
}

.list {
    background-color: yellow;
    list-style-position: inside;
    padding: 10px;
}   